.post
{
	background-color: rgb(248, 248, 247);
	margin: 20px auto;
	padding: 20px;
	border-radius: 10px;
}


.comment-section
{
	background-color: rgb(225, 238, 250);
	padding: 5px;
	border-radius: 5px;
}

#comment-section-expanded
{
	height: 500px;
	overflow-y: scroll;

	background-color: rgb(225, 238, 250);
	padding: 5px 20px 20px 20px;
	border-radius: 5px;
	position: fixed;
	transform: translate(-50%, -50%);
	top:50%;
	left: 50%;
}

.make-comment
{
	margin: 5px;
}

#comment-input
{
	padding: 10px;
	width: auto;
}
.comment
{
	margin: 10px;
	display: flex;
	width: 500px;
	overflow-x: scroll;
}

.button
{
	padding: 5px 15px;
    margin: 10px auto;
	background-color: rgb(44, 102, 168);
	color: white;
}


.like
{
	margin: 10px auto;
}

.profile-picture
{
	height: 40px;
	width: 40px;
	border-radius: 50%;
	margin: auto 0px;
}

.vertical-center
{
	display: flex;
	margin: auto 0px;
}

.user-name
{
	font-size: 16px;
	margin: auto 5px;
	font-weight: bold;
}

.like-btn
{
	border: none;
	background-color: transparent;
	font-size: 18px;
	margin: 20px auto;
}

.title
{
	margin-top: 10px;
	font-size: 24px;
}

.time
{
	font-size: 12px;
}

.content
{
	white-space: pre-line;
	font-size: 16px;
}

.upper
{
	display: flex;
	width: auto;
}

.view-post
{
	margin-left: auto;
}


