.post
{
	background-color: rgb(165, 209, 248);
	margin: 40px auto;
	padding: 20px;
	border-radius: 10px;
}


.comment-section
{
	background-color: rgb(135, 187, 233);
	padding: 5px;
	border-radius: 5px;
}

.make-comment
{
	margin: 20px;
}

.comment-input
{
	padding: 10px;
	width: auto;
}
.comment
{
	margin: 10px;
	display: flex;
}

.button
{
	padding: 5px 15px;
    margin: 10px auto;
	background-color: rgb(44, 102, 168);
	color: white;
}

a
{
	text-decoration: none !important;
}

.like
{
	margin: 10px auto;
}

.profile-picture
{
	height: 40px;
	width: 40px;
	border-radius: 50%;
	margin: auto 0px;
}

.vertical-center
{
	display: flex;
	margin: auto 0px;
}

.author-name
{
	font-size: 16px;
	margin: auto 5px;
	font-weight: bold;
}

.like-btn
{
	border: none;
	background-color: transparent;
	font-size: 18px;
	margin: 20px auto;
}

.title
{
	margin-top: 10px;
	font-size: 24px;
}

.time
{
	font-size: 12px;
}

.content
{
	white-space: pre-line;
	font-size: 16px;
}

.upper
{
	display: flex;
	width: auto;
}

.view-post
{
	margin-left: auto;
}


