<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/nav.css}">
	<link rel="stylesheet" th:href="@{/css/post.css}">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Post</title>
	
	<style>

		body
		{
			width: 100%;
			height: 100vh;
		}

		.media
		{
			border: 2px solid #69b4e1;
			border-radius: 10px;
		}
		
	</style>
	
</head>
<body>
	
	<nav>
		<a class="nav-item" th:href="@{/}">Home</a>
		<a class="nav-item" th:href="@{/profile/}+${principal.name}">Profile</a>
		<a class="nav-item" th:href="@{/makePost}">Make Post</a>
		<a class="nav-item" th:href="@{/friends}">Find Friends</a>
		<a class="nav-item" th:href="@{/logout}">Logout</a>
	</nav>
	
	<div class="container">


		<div class="row">

			<div class="col-md-3"></div>
			<div class="col-md-6">

				<h2> <u>Post</u> </h2>

				<div class="post">
					
					<div class="upper">
									
						<a class="vertical-center" th:href="@{/profile/}+${viewPost.post.author.username}">
							<img class="profile-picture" th:src="${viewPost.post.author.image_suffix != null} 
																 ? @{/upload/static/images/}+${viewPost.post.author.id}+'.'+${viewPost.post.author.image_suffix} 
																 : @{/images/default.jpg}" alt="...">
							 <span class="author-name" th:text="${viewPost.post.author.name}"></span> 
						 </a>
						 
					</div>
					 
		
					<h4 class="title" th:text="${viewPost.post.title}"></h4>
					 
					<p class="time" th:text="${#dates.format(viewPost.post.time, 'dd-MMM-yyyy h:m a')}"></p>
					
					<p class="content" th:text="${viewPost.post.content}"></p>
					
					
						<video class="media" th:if="${viewPost.post.media.type == 'video'}" th:src="@{/video/stream/}+${viewPost.post.id}+'/'+${viewPost.post.media.suffix}+'#t=1.0'"
						 width="100%" controls preload="metadata">
						</video>
						
						
						<img class="media" th:if="${viewPost.post.media.type == 'photo'}" th:src="@{/upload/static/photos/}+${viewPost.post.id} + '.' + ${viewPost.post.media.suffix}"
						 width="100%">
					
					
					<button class="like-btn" th:id="'like-'+${viewPost.post.id}" th:onclick="'like('+${viewPost.post.id}+')'" 
												th:style="${viewPost.liked} ? 'display: none;' : 'display:inline;'">🩶</button>
												
					<button class="like-btn" th:id="'dislike-'+${viewPost.post.id}" th:onclick="'dislike('+${viewPost.post.id}+')'" 
												th:style="${viewPost.liked} ? 'display: inline;' : 'display:none;'">❤️</button>
												
					<span th:id="'numOfLikes-'+${viewPost.post.id}" th:text="${viewPost.post.numOfLikes}"></span>
					
					<div class="comment-section">
		
						<form th:action="@{/make-comment}+'/post-'+${viewPost.post.id}" th:object="${commentForm}" class="make-comment" method="post">
							<input class="comment-input" type="text" name="post_id" th:value="${viewPost.post.id}" hidden>
							<input class="comment-input" type="text" name="content">
							<button class="button" type="submit">Post</button>
						</form>
		
						<div class="comments">
							
							<div class="comment" th:each="comment: ${viewPost.post.comments}">
								<a class="vertical-center" th:href="@{/profile/}+${comment.author.username}">
									<img class="profile-picture" th:src="${comment.author.image_suffix != null} 
																		 ? @{/upload/static/images/}+${comment.author.id}+'.'+${comment.author.image_suffix} 
																		 : @{/images/default.jpg}" alt="...">
									 <span class="author-name" th:text="${comment.author.name}"></span>
								</a>  
								
								<p class="content vertical-center" th:text="${comment.content}"></p>
		
							</div>
							
						</div>
						
					</div>
					
				</div>
	

			</div>
			<div class="col-md-3"></div>

		</div>
		
	</div>
    
</body>
</html>