<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messaging Home</title>
</head>
<body>

    <div class="container">



    </div>
    <h2>User</h2>

    <ul>
        <li th:each="notification: ${notifications}">
            <a th:href="@{/messaging/chat/}+${notification.sender}" th:text="${notification.sender}"></a>(💬 <span th:text="${notification.numberOfMessages}"></span>)
        </li>
    </ul>
    
</body>
</html>